<!DOCTYPE html>
<html th:replace="~{layouts/main :: layout(~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <div class="display-3">Secret Resources Page</div>
                <p>This page is accessible only logged in users with specal roles.</p>
                <p>If you see this page, than you have logged correctly to the system.</p>

                <div>
                    This is a super secret information that only authorized and authenticated users can see.
                </div>
            </div>
        </div>
    </main>
</body>
</html>